# DATA TYPES

###1. **Numeric Data Types**
* integer (int) represents whole number
* floating point type (float) represents decimal numbers

In [ ]:
age = 23  #int
pi = 3.14 #float
temperature = -5.5 #float

print("data type of variable age = ", type(age))
print("data type of variable pi = ", type(pi))
print("data type of variable temperature = ", type(temperature))

data type of variable age =  <class 'int'>
data type of variable pi =  <class 'float'>
data type of variable temperature =  <class 'float'>

###2. **String Data Type**
  string (str) represents sequence of characters enclosed by double quotes or single quotes.

In [ ]:
name = "Alice"
greeting = 'Hello'
address = "123 Main St"

print("data type of the variable name = ",type(name))
print("data type of the variable greeting = ",type(greeting))
print("data type of the variable address = ",type(address))

data type of the variable name =  <class 'str'>
data type of the variable greeting =  <class 'str'>
data type of the variable address =  <class 'str'>

###3. **Boolean Type**

Boolean (bool) represents a boolean value, either True or False.

In [ ]:
is_student = True
has_license = False

print("data type of the variable is_student = ",type(is_student))
print("data type of the variable has_license = ",type(has_license))

data type of the variable is_student =  <class 'bool'>
data type of the variable has_license =  <class 'bool'>

###4. **List**
    
'list' represents an ordered, mutable collection of elements.

In [ ]:
list1 = [1, 2, 3, 4]
mixed_list = [12, "Hello", True]

###5. **Tuple**

'tuple' represents an ordered, immutable collection of elements.

In [ ]:
colors = ('red', 'green', 'yellow', 'blue')

###6. **Dictionary**

'dict' represents a collection of key-value pairs.

In [ ]:
person = {'name':'John','age':30,'city':'Pitt'}

print(f"Hello my name is {person['name']}. I am {person['age']} years old and I live at {person['city']}.")

Hello my name is John. I am 30 years old and I live at Pitt.

###7. **Set**

'set' represents an unordered, immutable collection of elements that are unique.

In [ ]:
unique_numbers = {1,2,3,3,3,3,4,5}

print(unique_numbers)

{1, 2, 3, 4, 5}

###8. **NoneType**

It represents the absence of a value, which similar to null in other languages

In [ ]:
result = None

# LOGICAL STATEMENTS AND LOOPS

###1. **if and else statement :**

It allows conditional execution of code based on the evaluation of a given condition.

In [ ]:
num = 10
if num > 0:
    print("Positive")
else:
    print("Non-positive")

Positive

###2. **and, or, and not operators:**

  These operators are used for combining conditions and negating them.

In [ ]:
x = 5
y = 10
if x > 0 and y < 20:
    print("Both conditions are true")
if x > 0 or y > 20:
    print("At least one condition is true")
if not x == 0:
    print("x is not equal to 0")

Both conditions are true
At least one condition is true
x is not equal to 0

###3. **for  loop:**

It iterates over a sequence (e.g., list, tuple, string) and performs actions for each element.

In [ ]:
fruits = ["apple", "banana","cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

###4. **while loop:**

It repeatedly executes a block of code as long as a given condition is true.

In [ ]:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

# FUNCTIONS

###1. **Built-in Functions**

print(), min(), max(), len(), range(), type() etc.

  These functions are already provided as part of python.

In [ ]:
fruits = ["apple", "banana","cherry"]
print(len(fruits))

3

###2.  **Built-in Methods**

  Data types in python have “methods” associated with them - functions specifically designed to operate on instances of that data type

In [ ]:
name = "john"
print("Name in upper case = ", name.upper())

l = [1,2,3,4]
l.append(5)
print("List after appending",l)

person = {'name':'John','age':30,'city':'Pitt'}
print("Keys of the dictionary person", person.keys())

# for more methods explore https://www.w3schools.com/python/python_ref_functions.asp

Name in upper case =  JOHN
List after appending [1, 2, 3, 4, 5]
Keys of the dictionary person dict_keys(['name', 'age', 'city'])

###3. **User Defined Functions**

  Functions we define ourselves to perform specific task.

  User-defined functions help to decompose a large program into small segments which makes the program easy to understand, maintain and debug.

In [ ]:
def print_something():
    if 3 < 5:
        print("Dumb! 3 is always less than 5")
    else:
        print("I can never reach here")
    return

print_something()

Dumb! 3 is always less than 5

### 4. **Recursion**

1. What is Recursion?
   - Recursion is a programming technique where a function calls itself to solve a problem.

2. Key Concepts:
   - Base Case: The condition that stops the recursion.
   - Recursive Case: The problem is broken down into smaller sub-problems of the same type.

3. How Recursion Works:
   - Function calls itself until base case is reached.
   - Smaller sub-problems are solved before combining results.

4. Example: Factorial Calculation
   - n! = n * (n-1) * (n-2) * ... * 1
   - Base case: 0! = 1
   - Recursive case: n! = n * (n-1)!

In [ ]:
def fibonacci(n):
    # Base cases: fibonacci(0) is 0, fibonacci(1) is 1
    if n == 0: return 0
    elif n == 1: return 1
    # Recursive case: fibonacci(n) = fibonacci(n-1) + fibonacci(n-2)
    else: return fibonacci(n - 1) + fibonacci(n - 2)

print("Fibonacci of 8 is",fibonacci(8))

Fibonacci of 8 is 21

# EXCEPTION AND ERROR HANDLING



1.  **SyntaxError :**

 Occurs when the code violates the Python syntax rules.

In [ ]:
print("Hello, World!"

SyntaxError: ignored

2. **IndentationError :**

 Occurs when there are issues with the indentation of code blocks.

In [ ]:
if True:
print("First line")

IndentationError: ignored

3. **NameError :**

  Occurs when a variable or a function is not defined.

In [ ]:
X = 10
print(Y)

NameError: ignored

4. **TypeError :**

 Occurs when an operation is performed on incompatible data types.

In [ ]:
a = "5"
b = 3
result = a + b

TypeError: ignored

5. **IndexError :**

 Occurs when attempting to access an index that is out of range.

In [ ]:
my_list = [1, 2, 3]
print(my_list[3])

IndexError: ignored

6. **KeyError :**

 Occurs when accessing a dictionary key that doesn't exist.

In [ ]:
my_dict = {'a': 1, 'b': 2}
print(my_dict['c'])

KeyError: ignored

7. **ZeroDivisionError :**

 Occurs when dividing by zero.

In [ ]:
x = 10
y = 0
result = x / y

ZeroDivisionError: ignored

8. **NotImplementedError:**

 Occurs when a method or function lacks implementation but is called by the code.

In [ ]:
def my_function():
   raise NotImplementedError("Not Present")

my_function()

NotImplementedError: ignored